.shopcategory-banner{
    display: block;
    margin:30px auto;
}
.shopcategory-indexSort{
 display: flex;
 margin: 0px 170px;
 justify-content: space-between;
 align-items: center;
}
.shopcategory-indexSort p span{
 font-weight: 600;
}
.shopcategory-sort{
    padding: 10px;
    border-radius: 40px;
    border: 1px solid gray;
}
.shopcategory-products{
    margin: 20px 170px;
    /* i ahve add */
    /* padding-left: 20px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.shopcategory-loadmone{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background:rgb(180, 174, 174);
  color:rgb(41, 39, 39);
  font-size:18px;
  font-weight:600;
}
@media(max-width:1280px){
    .shopcategory-banner{
        margin: 20px auto;
        width:90%;
    }
    .shopcategory-indexSort{
        width:90%;
        margin: auto;
    }
    .shopcategory-sort{
        padding: 5px 10px;
        font-size:12px;
    }
    .shopcategory-indexSort p{
        font-size:12px;
    }
    .shopcategory-products{
        width:90%;
        /* margin-top: 10px auto; */
        margin-left: 30px;
        row-gap:40px;
    }
    .shopcategory-products .item{
        margin: auto;
    }
    .shopcategory-loadmone{
        margin: 100px auto;
        width:200px;
        height:60px;
        font-size:16px;
    }
}
@media(max-width:800px){
    .shopcategory-banner{ 
        width:95%;
    }
   
    .shopcategory-products{
        margin-left: 10px;
        width:95%;
    }
    .shopcategory-loadmone{
        margin: 60px auto;
        width:150px;
        height:40px;
        font-size:14px;
    }
}
@media(max-width:500px){
    .shopcategory-products{
        margin-left: 12px;
       grid-template-columns: 1fr 1fr;
    }
    .shopcategory-loadmone{
        margin: 60px auto;
        width:150px;
        height:40px;
        font-size:1px;
        font-size: 12px;
    }
}
